.container-fluid
  .row
    .col-sm-3.tree-wrapper
      %h2.text-center Movie Index
      %br
      %table.table
        %tbody
          - @movies.each do |movie|
            %tr
              %td= link_to movie.title.titleize, movies_path(selected_movie: movie.id)

    - if params[:selected_movie].present?
      .col-sm-9
        = render 'movie_preview', locals: {id: params[:selected_movie]}
    .col-sm-8.movie-index-wrapper
      .row
        - @movies.each_with_index do |movie, i|
          .col-sm-2.movie-container
            .row
              = link_to movies_path(selected_movie: movie.id) do
                .col-sm-12
                  - if movie.poster.present?
                    = image_tag movie.poster, class: 'image-fit'
                  - else
                    No Image Preview
                .col-sm-12
                  %b= movie.title.titleize
          - if i != 0 && (i + 1) % 6 == 0
            .row

#newMovieModal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "newMovieModal", :role => "dialog", :tabindex => "-1"}
  .modal-dialog{:role => "document"}
    .modal-content
      .modal-header
        %h5#newMovieModal.modal-title Modal title
        %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true"} ×
      .modal-body
        Ooops... something went wrong.
      .modal-footer
        %button.btn.btn-secondary{"data-dismiss" => "modal", :type => "button"} Close
        %button.btn.btn-primary{:type => "button"} Save changes