.container-fluid
  .row
    .col-sm-10.col-sm-offset-1
      .well.movie-index-wrapper
        .row
          .col-sm-6.col-sm-offset-3.text-center
            %h1 Movies!
            %br
        .row
          .col-sm-10.col-sm-offset-1
            %table.table
              %tbody
                - @movies.each do |movie|
                  %tr
                    %td= movie.title + " (#{movie.release_date.strftime('%Y')})"
                    %td= movie.rating
                    %td= movie.runtime
                    %td= movie.motion_picture_rated
                    %td= link_to 'Show', movie

            = link_to 'New Movie', new_movie_path, class: 'btn btn-warning'
