.container-fluid
  .row
    .col-sm-10.col-sm-offset-1
      .row
        .col-sm-4.text-center
          = image_tag @movie.poster, class: 'image-fit'
        .col-sm-8
          .row
            %h3= "#{@movie.title} (#{@movie.release_date.year})"
            = "Rated #{@movie.rating}"
            %br
            %br
            %p
              = @movie.storyline
              %br
              %br
          .row
            .col-sm-4
              %h4 Starring
              - @movie.cast_members.each do |cast_member|
                = cast_member.name
                %br
            .col-sm-4
              %h4  Directed By
              - @movie.directors.each do |director|
                = director.name
                %br
            .col-sm-4
              %h4 Written By
              - @movie.writers.each do |writer|
                = writer.name
                %br